dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
*.p_hi
*.p_o
*.js_dyn_hi
*.js_dyn_o
*.js_p_hi
*.js_p_o
*.js_o
*.js_hi
.DS_Store
TAGS
tags
